apiVersion: v1
kind: Service
metadata:
  name: demo-web-service
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080    # có the de trong K8s tự chọn
